.container {
  width: 18em;
  @media screen and (min-width: 768px) {
    width: 28em;
  }
  @media screen and (min-width: 1280px) {
    width: 38em;
  }
}

.product {
  margin-bottom: 1.5em;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
}

.buttonsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
}

.priceBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & h3 {
    font-size: x-large;
    margin: 0;
  }
}
