.container {
  width: 100%;
}

.product {
  margin-bottom: 1.5em;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
}

.buttonsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
}

.priceBox {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1em;

  & h3 {
    font-size: large;
    margin: 0;
  }
}
