.darkMode {
  --background-main-color: rgb(35, 35, 35);
  --font-main-color: white;
  --shadow-color: #454545;
  --link-font: gold;
  --footer-color: rgb(25, 25, 25);
  --pay-color: rgb(120, 250, 120);
}
