.container {
  height: 17em;

  @media screen and (min-width: 767px) {
    height: 30em;
  }
}

.box {
  width: 100vw;
  position: absolute;
  left: 0;
}

.gallery {
  width: 100vh;
  height: 13em;

  @media screen and (min-width: 767px) {
    height: 27em;
  }
}
