.ulContainerLess {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 3em;
  margin: 0;
  padding: 0 0 0.5em 0.5em;

  & li {
    min-width: calc(100% - 2px);
    @media screen and (min-width: 767px) {
      min-width: calc((100% - 4px - 3em) / 2);
    }
    @media screen and (min-width: 1279px) {
      min-width: calc((100% - 6px - 6em) / 3);
    }
  }
}

.ulContainerMore {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  margin: 0;
  @media screen and (min-width: 767px) {
    & li {
      width: calc((100% - 4px - 3em) / 2);
    }
  }
  @media screen and (min-width: 1279px) {
    & li {
      width: calc((100% - 6px - 6em) / 3);
    }
  }
}

.liContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2px);
  border: 1px solid var(--font-main-color);
  border-top: 2px solid var(--font-main-color);
  border-radius: 2em;
  background-color: white;

  box-shadow: -0.5em 0.5em 0 0 var(--shadow-color);

  & a {
    width: 100%;
  }
}

.imageBox {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 300px;
}

.image {
  position: absolute;
  padding: 1em;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  object-fit: contain;
  object-position: 50% 50%;
}

.box {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em 0;
  border: 1px solid var(--font-main-color);
  border-radius: 2em;
  background-color: var(--background-main-color);
}

.titleBox {
  background-color: var(--header-color);
  padding: 1em;
  min-height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--font-main-color);
}

.title {
  margin: 0 0.5em 0 0.5em;
  text-align: center;
}
