.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.button {
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: large;
  color: var(--font-main-color);

  &:nth-child(1) {
    margin-right: 0.2em;
  }
}

.quantity {
  font-size: larger;
  font-weight: 600;
  line-height: 1.4em;
  text-align: center;
  min-width: 1.5em;
  border: 1px solid var(--font-main-color);
  border-radius: 0.4em;
  box-shadow: -0.2em 0.2em 0 0 var(--shadow-color);
  padding: 0.1em;
  padding-top: 0.4em;
}
