.header {
  position: relative;
  color: var(--color);
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  background-color: var(--header-color);
  border-bottom: 1px solid var(--font-main-color);
}

.cartBtn,
.homeBtn,
.themeBtn {
  background-color: transparent;
  border: none;
}

.searchBtn {
  background-color: transparent;
  border: none;
  & svg {
    stroke: var(--font-main-color);
    fill: none;
  }
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;

  & span {
    margin-top: 0.25em;
    font-size: 1.5em;
  }
}

.count {
  position: absolute;
  z-index: 2;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.75em;
  background-color: var(--red-activate);
  color: var(--font-main-color);
  transform: translate(1em, -1em);
  line-height: 1.5em;
}

.icon {
  width: 2em;
  height: 2em;
  fill: var(--font-main-color);
}
