.header {
  color: var(--color);
  height: 60px;
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
}

.homeBtn {
  background-color: transparent;
  border: none;
}
