:root {
  --background-main-color: rgb(240, 240, 240);
  --font-main-color: black;
  --red-activate: rgb(210, 65, 65);
  --header-color: rgb(44, 169, 188);
  --footer-color: rgb(40, 40, 40);
  --shadow-color: #a9a9a9;
  --link-font: rgb(20, 20, 100);
}
