@import "./assets/colors.scss";

:root {
  font-family: Karma, system-ui;
}

body {
  margin: 0;
  overflow-x: visible;
  background-color: var(--background-main-color);
  color: var(--font-main-color);
}

header {
  background-color: rgb(125, 176, 217);
  border-bottom: 1px solid var(--font-main-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--font-main-color);
}
button {
  padding: 0;
  cursor: pointer;
}
