.container {
  position: absolute;
  z-index: 2;
  background-color: var(--background-main-color);
  left: 30vw;
  top: 4em;
  width: 65vw;
  transition: left 0.3s ease;
  border: 1px solid var(--font-main-color);
  border-radius: 2em 0 2em 2em;
  padding: 1em 0 1em 2em;
  box-shadow: -1em 1em 0 0 var(--font-main-color);
}
